[settings]
# Comma-separated extensions line
extensions=".mkv",".mp4",".avi",".ogv",".3pg",".webm",".mov"

# Pattern to ignore (to avoid recursion)
pattern=h265.mkv

[ffmpeg]
# Settings related to how ffmpeg will run
const_rate=24
format=mp4
video_codec=libx265
audio_codec=aac
audio_bitrate=192k
threads=2
